*{
    margin: 0 auto;
    box-sizing: border-box
}

body {
    background: rgb(204,200,199); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(204,200,199,1) 0%, rgba(181,198,208,1) 34%, rgba(229,239,225,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,200,199,0.5) 0%,rgba(181,198,208,1) 34%,rgba(229,239,225,.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,200,199,0.5) 0%,rgba(181,198,208,0.5) 34%,rgba(229,239,225,0.5) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc8c7', endColorstr='#e5efe1',GradientType=1 );
}

.container {
    width: 80%;
}

.claer {
    clear: both
}

nav {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 20px;
    
    background: rgb(204,200,199); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(204,200,199,1) 0%, rgba(181,198,208,1) 34%, rgba(229,239,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,200,199,1) 0%,rgba(181,198,208,1) 34%,rgba(229,239,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,200,199,1) 0%,rgba(181,198,208,1) 34%,rgba(229,239,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc8c7', endColorstr='#e5efe1',GradientType=1 ); /* IE6-9 */
}

nav h1 {
    float: left;
    font-size: 30px;
    color: white;
    margin: 20px
}

nav h1 a {
    color: #aaa;
    text-decoration: none
}

nav .img  {
    float: right;
}
nav .img img {
    width: 250px
}

.img_box img {
    float: left;
    width: 33%;
    padding: 50px
}

.background {
    background-image: url(Slider_4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.con {
    text-align: center;
    height: 400px;
    padding: 50px;
    margin: 50px 0
}

.con h2 {
    color: #eee;
    font-size: 50px;
    margin: 20px 0
}

.con p {
    color: antiquewhite;
    font-size: 24px
}

footer {
    height: 40px;
    margin: 0;
    border-radius: 20px  20px 0px 0px;
    background: rgb(204,200,199); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(204,200,199,1) 0%, rgba(181,198,208,1) 34%, rgba(229,239,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,200,199,1) 0%,rgba(181,198,208,1) 34%,rgba(229,239,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,200,199,1) 0%,rgba(181,198,208,1) 34%,rgba(229,239,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc8c7', endColorstr='#e5efe1',GradientType=1 ); 
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 10px 0px;
    padding: 0 50px;
    border-left: solid 2px;
}footer ul li:last-child {
    border-right: solid 2px;
}